html, body, td, #wrapper {
   height:100%;
   margin: 0px;
   padding: 0px;
   border: none;
   text-align: center;
}
table, td {
  border-collapse: collapse;
} 
#wrapper {
   margin: 0 auto;
   text-align: left;
   vertical-align: top;
   width: 100%;
   border:0px;
   padding:0;
   margin:0;
   width:100%;
}
#content{
background-color:#000000;
width:960px;
vertical-align:top
}
#backgroundright{
background-image:url(background_right.jpg);
background-repeat:repeat-x;
}
#sides{
background-color:#666666;
}

